/**
General Styles for Website Goes Here
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

a,
.transition {
  @include transition(all $transition-time ease-in-out);
}

::selection {
  color: $white;
  background: $brand-success;
}
