/*
Page loader
 */
.loader:empty {
  position: absolute;
  top: calc(50% - 5em);
  left: calc(50% - 5em);
  width: 10em;
  height: 10em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #2bbbad;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
