/**
Styles for Footer Component
 */
footer {
  background-color: #3fd1cc;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  p {
    margin-bottom: 0;
  }
}

.red {
  color: hotpink;
}
